/*color pallete
#dedede
#bdffa6
#69a25a
#64d05f
#fee8ea
*/
body {
    background-color: #dedede;
}

header {
    background-color: #69a25a;
    width:100%;
    text-align:center;
    color: #dedede;
    margin: 0
}

table {
    width:60%;
    border: 2px #69a25a;
    margin-right: auto;
    margin-left: auto;
}

th{
    padding: 0.5em;
    border-top:2px solid #25411f
}
tr:nth-child(even) {
    background: #69a25a;
}

td:nth-child(3) {
    text-align: end;
}